In [56]:
import pandas as pd
import numpy as np

full_df = pd.read_csv("purchase_data.csv")

full_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Getting Total Player Count

In [57]:
tot_play = len(full_df['SN'].unique())
print(tot_play)

576

Purchasing Analysis

In [58]:
count_items = len(full_df['Item Name'].unique())
avg_purch_price = round(full_df['Price'].mean(),2)
total_purch = len(full_df)
tot_rev = full_df['Price'].sum()

purch_df = pd.DataFrame({
    'Count of Unique Items':[count_items],
    'Average Purchase Price':[avg_purch_price],
    'Total Num. Purchases':[total_purch],
    'Total Revenue':[tot_rev]
})

print('Purchasing Anlysis\n')
purch_df

Purchasing Anlysis

,Count of Unique Items,Average Purchase Price,Total Num. Purchases,Total Revenue
0,179,3.05,780,2379.77

Gender Demographics

In [59]:
gender_grouped = full_df.groupby('Gender')

gender_df = pd.DataFrame(gender_grouped['Purchase ID'].count())
#gender_df = gender_df.reset_index()
gender_df

                       Purchase ID
Gender
Female                         113
Male                           652
Other / Non-Disclosed           15

In [60]:
purch_per_gender = gender_grouped['Gender'].count()

gender_purch_percent = pd.DataFrame((purch_per_gender/total_purch)*100)
gender_purch_percent = gender_purch_percent.rename(columns={'Gender':'Percent of Purchases'})
#gender_purch_percent = gender_bug_percent.reset_index()
gender_purch_percent['Percent of Purchases'] = gender_purch_percent['Percent of Purchases'].map('{:.2f}%'.format)
gender_purch_percent

                      Percent of Purchases
Gender
Female                              14.49%
Male                                83.59%
Other / Non-Disclosed                1.92%

In [61]:
gender_full_df = gender_df.merge(gender_purch_percent, on='Gender')
gender_full_df.rename(columns={'Purchase ID':'Count of Purchases'}, inplace=True)
print('Gender Demographics\n')
gender_full_df

Gender Demographics

                       Count of Purchases Percent of Purchases
Gender
Female                                113               14.49%
Male                                  652               83.59%
Other / Non-Disclosed                  15                1.92%

Purchase Anlysis By Gender

In [62]:
gender_avg_price = pd.DataFrame(gender_grouped['Price'].mean()) 
gend_tot_val = pd.DataFrame(gender_grouped['Price'].sum())

gender_results =gender_df.merge(gender_avg_price.merge(gend_tot_val, on='Gender'), on='Gender')
gender_results.rename(columns={
    'Purchase ID':'Purchase Count',
    'Price_x':'Average Purchase Price',
    'Price_y':'Total Purchase Value'
}, inplace=True)
gender_results['Average Purchase Price'] = gender_results['Average Purchase Price'].map('${:.2f}'.format)
gender_results['Total Purchase Value'] = gender_results['Total Purchase Value'].map('${:.2f}'.format)
print("Purchase Analysis By Gender\n")
gender_results

Purchase Analysis By Gender

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,$3.20,$361.94
Male,652,$3.02,$1967.64
Other / Non-Disclosed,15,$3.35,$50.19

In [78]:
#person_grouped = full_df.set_index(['Gender','SN'])
#person_grouped = pd.DataFrame(person_grouped.sort_values('Gender'))

person_grouped = pd.DataFrame(gender_grouped['SN'].value_counts())
person_grouped

                                       SN
Gender                SN
Female                Chamjask73        3
                      Ialallo29         3
                      Phyali88          3
                      Tyidaim51         3
                      Umolrian85        3
                      Yathecal82        3
                      Aerithllora36     2
                      Aisurdru79        2
                      Baelollodeu94     2
                      Chamilsala65      2
                      Chamirrasya33     2
                      Eusri70           2
                      Hari50            2
                      Heosurnuru52      2
                      Heuli25           2
                      Ilmol66           2
                      Iskichinya81      2
                      Lassadarsda57     2
                      Leyirra83         2
                      Marilsa69         2
                      Marim28           2
                      Phaelap26         2
                      Pheosurllorin41   2
                      Reunasu60         2
                      Sida61            2
                      Sondim68          2
                      Adastirin33       1
                      Aethedru70        1
                      Aidain51          1
                      Aiduesu86         1
...                                    ..
Male                  Undjask33         1
                      Undosia27         1
                      Undotesta33       1
                      Yadaisuir65       1
                      Yadam35           1
                      Yadanu52          1
                      Yalaeria91        1
                      Yaliru88          1
                      Yalo85            1
                      Yalostiphos68     1
                      Yarithllodeu72    1
                      Yarithrgue83      1
                      Yarithsurgue62    1
                      Yarolwen77        1
                      Yasrisu92         1
                      Yastyriaphos75    1
                      Yasur35           1
                      Yasur85           1
                      Yathecal72        1
Other / Non-Disclosed Chanosian48       2
                      Idairin51         2
                      Maluncil97        2
                      Siarithria38      2
                      Airi27            1
                      Eodaisu60         1
                      Haerithp41        1
                      Jiskirran77       1
                      Lirtim36          1
                      Rairith81         1
                      Sundim98          1

[576 rows x 1 columns]